.topright {
    position: fixed;
    top: 80px;
    right: 16px;
    font-size: 18px;
}

.topright a:hover{
	color: #fe571a
}

.mobileVid{
	background-color: #242629;
    width: 100%;
    height: 700px;
}
.center {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.not_found a:hover{
    color: #fe571a
}


@media screen and (max-width: 480px) {
    .forDesktop{
    	display: none;
    }
    .forMobile{
        display: block;
    }
}

@media screen and (min-width: 480px) {
    .forMobile{
    	display: none;
    }
    .forDesktop{
    	display: block;
    }
}